<% provide(:title,'Lern')%>
<h1>Lern: Machine Learning in the Cloud</h1>
	<p>Lern provides online software that allows you to really understand the relationships between your metrics.<p>

	<p>Here are a few examples of questions that lern can help you answer:
	<ol>
		<li>Which products sell best together?</li>
		<li>How does the weather impact your sales?</li>
		<li>What are the best predictors of high value vs low value customers?</li>
	</ol>
	</p>
	<h2>
	<%= link_to "Register Your Interest", "/users/sign_up", class: "btn btn-large btn-primary" %>
	</h2>
	<h2>
	<%= link_to image_tag("graph.jpg", alt:"All our graphs are this sexy"), root_path %>
	</h2>
