<h1>Register your interest</h1>
	<%= form_for @user do |u| %>
		<fieldset>
			<div class='field'>
				<%= u.label :email%>
				<%= u.text_field :email%>
			</div>
		</fieldset>
	<%= u.submit %>
	<% end %>
