<h1>The results are in!<h1>

	<div><p> Y = <%= @result[1,0].to_f %> * X + <%= @result[2,0].to_f %> * Z + <%= @result[0,0].to_f %></p></div>

	<div><%= link_to "Save Results", results_path(coefficient: @result[1,0].to_f, intercept: @result[0,0].to_f, dfid: @datafile.id), method: :post, class: "btn btn-large btn-primary" %></div>
