<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Register", "/users/sign_up"%></li>
          <% if user_signed_in? %>
          <li><%= link_to "Upload a File", "data_files/new"%></li>
          <% else %>
          <li><%= link_to "Sign in", "users/sign_in" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
